/* When the video starts playing, make it visible */
.playing {
    opacity: 1;
}
.upperNavDivider{
    width: 2px;
    height: 30%;
    background-color: white;
}

.lowerNavDivider{
    width: 2px;
    height: 15%;
    background-color: white;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .swiper-slide {
      transition: transform 0.3s ease, opacity 0.3s ease;
      width: 75%; /* This controls how much of each slide is visible */
      opacity: 0.5;
    }
  
    .swiper-slide-active {
      transform: scale(1);
      opacity: 1;
    }
  
    .swiper-slide-next,
    .swiper-slide-prev {
      transform: scale(0.85);
      opacity: 0.8;
    }
  }